<h1 class = "heading">Calculator</h1>
<div class = "Calculator">
  <div class = "screen">
  <input class = "screeninput" type="text" value="0" readonly/>
  </div>
  <div class="buttongrid">
    <button>0</button>
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>.</button>
    <button>+</button>
    <button>-</button>
    <button>*</button>
    <button>/</button>
    <button>%</button>
    <button>=</button>
    <button>CLR</button>
  </div>
</div>